@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;400;700&display=swap');

body {
    margin: 0;
    height: 100vh;
    font-family: 'Poppins';
}

.wrapper {
    overflow-x: hidden;
    position: relative;
}

* {
    box-sizing: border-box;
}

svg {
    position: absolute;
    top: 12em;
    left: 10vw;
    width: 50vw;
}

svg .mask {
    width: 0;
}

.container {
    display: flex;
    width: 300vw;
}

.container .col {
    display: flex;
    gap: 3em;
}

.container .col p {
    font-size: 0.8rem;
}

.container section {
    width: 100vw;
    padding: 20vw 10vw;
}

.container section h1 {
    font-size: 3rem;
    margin: 0;
}

.container section p {
    font-size: 1.2rem;
    width: 50vw;
}

section {
    height: 100vh;
}

/* Blending Effect  */

.blendingText {
    color: #fff;
    font-size: 4em;
    text-align: center;
}

.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: exclusion;
    transition: 0.1s;
}

h1:hover~.cursor {
    transform: scale(6)
}

.effect {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;

}